<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUq3HfoRXzWcfWDDwpA0xO6uvR3u6kpRs</string>
	<key>GCM_SENDER_ID</key>
	<string>831527760304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cloudwalk.cloudWalkTest</string>
	<key>PROJECT_ID</key>
	<string>cloud-walk-test</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-walk-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831527760304:ios:c9a64cf9ab54acb30de675</string>
</dict>
</plist>